*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{

    background:#050505;

    color:white;

}




.header{

    height:70px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 25px;

    background:#090909;

    border-bottom:1px solid #ff0000;

    position:sticky;

    top:0;

    z-index:10;

}



.header h1{

    color:#ff0000;

    text-shadow:0 0 15px red;

}




button{

    background:#ff0000;

    color:white;

    border:0;

    padding:12px 20px;

    border-radius:12px;

    cursor:pointer;

    font-weight:bold;

}



button:hover{

    box-shadow:0 0 20px red;

}







.banner{


    height:350px;


    display:flex;


    align-items:center;


    padding:40px;


    background:

    linear-gradient(
    90deg,
    #000,
    #550000
    );


}



.banner h1{


    font-size:45px;


    color:white;


}



.banner p{


    margin:15px 0;


    color:#ddd;


}







.categorias{


    display:flex;


    gap:12px;


    padding:25px;


    overflow-x:auto;


}




.titulo{


    padding:20px;


    color:#ff0000;


}





.produtos{


    display:grid;


    grid-template-columns:

    repeat(auto-fit,minmax(230px,1fr));


    gap:20px;


    padding:20px;


}






.card{


    background:#0d0d0d;


    border:1px solid #222;


    border-radius:20px;


    padding:15px;


    transition:.3s;


}



.card:hover{


    transform:translateY(-8px);


    border-color:red;


    box-shadow:

    0 0 25px rgba(255,0,0,.5);


}






.card img{


    width:100%;


    height:220px;


    object-fit:cover;


    border-radius:15px;


}





.card h2{


    margin:10px 0;


}





.preco{


    color:#00ff66;


    font-size:22px;


}





.produto-page{


    max-width:600px;


    margin:40px auto;


    padding:20px;


}






input,
textarea,
select{


    width:100%;


    padding:15px;


    margin:10px 0;


    background:#111;


    border:1px solid red;


    color:white;


    border-radius:10px;


}






@media(max-width:600px){


.banner h1{

font-size:30px;

}


}
