*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',Arial,sans-serif;
}


body{

    background:#000;
    color:#fff;
    min-height:100vh;

    background:
    radial-gradient(circle at top,#330000,#000 50%);

}



/* Perfil */

.perfil{

    text-align:center;
    padding:40px 20px;

}


.foto{

    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;

    border:3px solid #ff0000;

    box-shadow:
    0 0 20px #ff0000;

}



h1,h2{

    color:#fff;

    text-shadow:
    0 0 10px red;

}



.perfil p{

    color:#aaa;
    margin:10px;

}




.whatsapp,
button{

    display:inline-block;

    background:#ff0000;

    color:white;

    padding:12px 25px;

    border-radius:12px;

    border:none;

    cursor:pointer;

    text-decoration:none;

    box-shadow:
    0 0 15px red;

    transition:.3s;

}



button:hover,
.whatsapp:hover{

    transform:scale(1.05);

}




/* Pesquisa */

.pesquisa{

    text-align:center;
    margin:20px;

}


.pesquisa input{

    width:90%;
    max-width:500px;

    padding:15px;

    background:#111;

    color:white;

    border:1px solid red;

    border-radius:15px;

    outline:none;

}




/* Categorias */


.categorias{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:10px;

    margin:20px;

}


.categorias button{

    padding:10px 15px;

}




/* Cards */


#downloads{

    width:90%;

    max-width:1200px;

    margin:auto;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:20px;

}



.card{

    background:
    rgba(255,255,255,.05);

    border:1px solid #ff0000;

    border-radius:20px;

    padding:20px;

    backdrop-filter:blur(10px);

    box-shadow:
    0 0 20px #ff000055;

    animation:entrada .5s;

}



.card:hover{

    transform:translateY(-5px);

}




.thumb{

    width:100%;

    height:180px;

    object-fit:cover;

    border-radius:15px;

}



/* Admin */

.admin{

    width:90%;

    max-width:600px;

    margin:40px auto;

}



.box{

    background:#111;

    padding:25px;

    border-radius:20px;

    border:1px solid red;

}



input,
textarea,
select{

    width:100%;

    padding:14px;

    margin:8px 0;

    background:#000;

    color:white;

    border:1px solid #333;

    border-radius:10px;

}




.download-page{

    width:90%;

    max-width:600px;

    margin:40px auto;

}




@keyframes entrada{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

  }
